.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./LoginImage.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
    }
    
   
    
    form {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    }
    
    form h1 {
    text-align: center;
    margin-bottom: 40px;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    }
    
    input[type="email"],
    input[type="password"] {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    }
    
    .btn-login {
    background-color: #ef4444;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    }
    
    .btn-login:hover {
    background-color: #444;
    }

    .parag{
        font-weight: 300;
        color: #737373;
        font-size: 0.875rem;
    }

.allinp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secdiv{
    display: flex;
    align-items: flex-start;
}

    .checkkk{
        height: 4px;
        width: 4px;
        border-radius: 100%;
        border: 1px solid #BFBFBF;
        background-color: #FAFAFA;
        border-color: #242730;
        background-color: #242730;
        outline-offset: -8px;
    }

    .labbb{
        color: #828282;
    }