.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Rheadline {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 20px;
}

/* .edit-formform{
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: auto;
  margin: auto;
  width: 150%;
  padding-left: 600px;
  padding-top: 200px;
  background-color: rgba(0, 0, 0, 0.2)
} */


.edit-form-section input {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  
}
.cfirst_name {
  padding-top: 20px;
}
.Rclose{
  background-color: white !important;
  cursor: pointer;
}

.edit-form-section input::-webkit-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 16px;
}

.edit-form-section input:-ms-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 16px;
}

.edit-form-section input::-ms-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 16px;
}

.edit-form-section input::placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 16px;
}

.edit-form-section input.message_input {
  height: 100px;
}
.edit-form-section label {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  font-size: 16px;
}

.edit-form-section {
  padding: 15px 15px 15px 0;
  border:  #ef4444 solid;
  /* background-image: none; */
  width: 30%;
  
}
.edit-form-container{
  padding: 20px;
}

.edit-form-section .btn-contact {
  border: none;
  border-radius: 30px;
  background-color: #ef4444;

  cursor: pointer;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.csub_button {
  text-align: center;
}
.btn-contact:hover {
  background-color: #ff0000;
}

.btn-contact:active {
  background-color: #b70909;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 1024px) {
  .edit-formform{
    margin: auto;
    width: 100%;
    padding-left: 150px;
    padding-top: 200px;
   
  }
  .edit-form-section {
      padding: 15px 15px 15px 0;
      width: 75%;
    }
}
