*{
  margin: 0px;
  padding: 0px;
}
.navbiggerthing {
  display: flex;
  justify-content: center;
  background-color: white;
}

.navbar-button:hover {
  text-decoration: underline !important;
}


.navhidden_show {
  display: flex;
  width: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px; */
  border: 1px solid #e5e7eb;
  background-color: white;
  /* margin-left: -10px; */
  /* margin-right: -10px; */
}
.navhidden_hidden {
  display: none;
}
.navmenu-menu {
  background-color: transparent;
  border: none;
  padding: 8px;
  color: #000;
  font-size: 18px;
  font-family: sans-serif;
  width: 100%;
  border-radius: 5px;
}
.navmenu-menu a {
  text-decoration: none;
  color: #000;
}
.navmenu-menu:hover {
  background-color: #f87171;
  transition: all 0.3s ease-in-out;
}

.navnavbar {
  width: 100%;
  max-width: 1245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: white;

  max-height: 114.38px;
  
}

.navnavbar-logo {
  width: 128px;
  padding: 8px;
}

.navnavbar-list {
  display: flex;
}

.navnavbar-button {
  background-color: transparent;
  border: none;
  padding: 0px 24px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
}

.navnavbar-button a {
  text-decoration: none 2px solid rgb(239, 68, 68);
  color: #1f2937;
  line-height: 32px;
  font-weight: 500;
}

.navcontact-button {
  background-color: #ef4444;
  align-items: center;
  display: flex;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 50px;
  height: 44px;
}

.navcontact-button a {
  text-decoration: none;
  color: #fff;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.navcontact-button:hover {
  background-color: #f87171;
  transition: all 0.3s ease-in-out;
}

.navmenu-button {
  max-width: 40px;
  max-height: 40px;
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  cursor: pointer;
}
.navmenu {
  max-width: 40px;
  max-height: 40px;
}
@media (min-width: 769px) {
  .navnavbar-menu {
    display: none;
  }
  .navhidden_show{
    display: none;
  }
}
@media (max-width: 1023px) {
  .navnavbar-button {
    font-size: 18px;
  }
  .navcontact-button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navnavbar-list {
    display: none;
  }
  .navnavbar-contact {
    display: none;
  }
}
/* *{
  border: 1px solid cyan;
} */